table.list{
    table-layout: fixed;
    width: 100%;
}

.destination_bbs_table th {
    color: darkslategray;
}

.comment_header {
    width: 40%;
}

.comment_body {
    width: 40%;
}

#attendance_location {
    padding-right: 10px;
    padding-left: 10px;
}

#select_date_form {
    padding-right: 10px;
    padding-left: 20px;
}

#comment_form {
    padding-right: 10px;
    padding-left: 10px;
}

#search_group_form {
    padding-right: 20px;
    padding-left: 10px;
}

#current_user {
    background-color:mediumaquamarine;
}

 /* === ボタンを表示するエリア ============================== */
#switchArea {
    line-height    : 22px;                /* 1行の高さ          */
    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 8px;                /* 文字サイズ         */

    position       : relative;            /* 親要素が基点       */
    margin         : auto;                /* 中央寄せ           */
    width          : 47px;               /* ボタンの横幅       */
    background     : #fff;                /* デフォルト背景色   */
}

/* === チェックボックス ==================================== */
#switchArea input[type="checkbox"] {
    display        : none;            /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
#switchArea label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    height         : 22px;                /* ボタンの高さ       */
    border         : 2px solid #1a1aff;   /* 未選択タブのの枠線 */
    border-radius  : 11px;                /* 角丸               */
}

/* === チェックボックスのラベル（ONのとき） ================ */
#switchArea input[type="checkbox"]:checked +label {
    border-color   : #999999;             /* 選択タブの枠線     */
}

/* === 表示する文字（標準） ================================ */
#switchArea label span:after{
    content        : "出勤";               /* 表示する文字       */
    padding        : 0 0 0 13px;          /* 表示する位置       */
    color          :  #1a1aff;             /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */
#switchArea  input[type="checkbox"]:checked + label span:after{
    content        : "退勤";                /* 表示する文字       */
    padding        : 0 13px 0 0;          /* 表示する位置       */
    color          :#999999;             /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */
#switchArea #swImg {
    position       : absolute;            /* 親要素からの相対位置*/
    width          : 14px;                /* 丸の横幅           */
    height         : 14px;                /* 丸の高さ           */
    background     : #1a1aff;             /* カーソルタブの背景 */
    top            : 4px;                 /* 親要素からの位置   */
    left           : 4px;                 /* 親要素からの位置   */
    border-radius  : 7px;                /* 角丸               */
    transition     : .2s;                 /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
#switchArea input[type="checkbox"]:checked ~ #swImg {
    transform      : translateX(25px);    /* 丸も右へ移動       */
    background     : #999999;             /* カーソルタブの背景 */
}